.emitter {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.artillery {
    position: absolute;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.shell {
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}